name: lint
on: [push, pull_request]
jobs:
  lint-go:
    name: Lint Go SDK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: 1.25.x
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        working-directory: sdk/go
        args: --timeout 3m --max-same-issues 0 --max-issues-per-linter 0 --verbose